.register__paragraph {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .register__paragraph {
    font-size: 12px;
  }
}
