@import url(./__img/infoTool__img.css);
@import url(./__paragraph/infoTool__paragraph.css);

.infoTool {
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  z-index: 100;
  align-self: flex-start;
}

@media screen and (max-width: 480px) {
  .infoTool {
    width: 280px;
    height: 308px;
  }
}
