@import url(./__logo/header__logo.css);

.header {
  max-width: 882px;
  width: 100%;
  margin: 45px auto 0 auto;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

.header__login-container {
  margin-top: 5px;
  margin-bottom: 0;
  display: flex;
}

.header__button {
  background-color: transparent;
  justify-self: center;
  color: white;
  border: none;
  margin-left: 24px;
}

.header__button:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: ease-in 0.2s;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__link:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: ease-in 0.2s;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    margin-top: 28px;
    padding-bottom: 32px;
  }
}
